body {
    font-family: 'Karla', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.link {
    color: #798777;
}

/* Headings */

.big-heading {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.section-title {
    color: #798777;
}

/* Containers  */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #BDD2B6;
    color: white;
}

.white-section {
    background-color:#F8EDE3;
    color: #798777;
}

/* Navigation Bar */ 

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 1.5rem;
}

.nav-link {
    font-family: 'Lato';
    font-size: 1.2rem;
    font-weight: lighter;
}

/* Title Section */

#title .container-fluid {
    padding: 3% 15% 17%;
    text-align: left;
}

/* Title Profile Pic Image */

.profile-pic {
    width: 58%;
    position: absolute;
    right: 20%;
    z-index: 0;
    border-radius: 51% 49% 42% 58% / 64% 29% 71% 36%;
}

.profile-pic-container {
    position: relative;
}

/* About Me Section */

#about {
    position: relative;
}

.about {
    padding: 5%;
}

/* Writing Section */


.example-pdf {
    padding-bottom: 30px;
}

#pics-row {
    padding-top: 20px;
}

/* Call to Action Section */

.cta-head {
    font-size: 3.5rem;
    margin: auto;
}

/* Footer */

.social-icon {
    margin: 20px 10px;
    color: white;
}

/* Responsive Stuff */ 

@media (max-width: 1028px) {
    .profile-pic {
        position: static;
        height: auto;
        display: block;
        align-content: center;
        margin: auto;
    }

    .big-heading {
        text-align: center;
    }

    .mag-pic {
        height:auto;
        display: block;
    }

    #writing {
        text-align: center;
    }

    p {
        font-size: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }
}


/* Image overlay stuff */ 

.container {
    position: relative;
    width: 100%;
    padding: 0;
}

.mag-pic {
    padding-bottom: 20px;
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .mag-pic {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: white;
    color: #798777;
    font-size: 16px;
    padding: 16px 32px;
}

.overlay-link {
    text-decoration: none;
}
